p{
    margin: 0;
}

.dashboard-title{
    font-size: 28px;
}
.dashboard-stats{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr) ) ;
}

.table__wrapper{
    width: 100%;
    margin-bottom: 5rem;
}

table {
    width: 100%;          /* Table takes up the full width of its container */
    border-collapse: collapse;
    text-wrap: nowrap;
}
th, td {
    padding: 10px; /* You can adjust the padding size */
    text-align: left;
    font-weight: 400;
}
th:not(th >){
    font-weight: 600;
}

/* Padding for the checkbox specifically */
td input[type="checkbox"] {
    margin-right: 10px; /* Adds space between the checkbox and the text */
}

th:nth-child(1), td:nth-child(1) {
    width: 25%; /* Set desired width */
}

th:nth-child(6), td:nth-child(6) {
    width: 18%; /* Set desired width */
}

tr:nth-child(odd){
    background: rgba(231, 235, 239, 1);
}

tr:nth-child(even){
    background: rgb(255, 255, 255);
}

.job-titles-menu, .modal-menu{
    transition: all ease-out .3s;
    transition-behavior: allow-discrete;
    z-index: 1000 !important;
  }
  .job-titles-menu.active{
    opacity: 1 !important;
    visibility: visible !important;
    left: 0;
  }

  .job-titles-menu > *, .modal-menu > *{
    transition: background-color .3s ease-out;
    cursor: pointer;
  }

  .job-titles-menu >:hover, .modal-menu >:hover {
    background-color: rgba(230, 230, 230, 0.356);
  }