textarea{
    resize: none;
}

.documents-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr) ) ;
}

.documents-view.applicants .admin-documents{
    display: none;
}

.documents-view.admin .applicants-documents{
    display: none;
}

.document-card{
    border-width: 2px !important;
    border-radius: 20px !important;
    position: relative;
}

.document-card > img{
    height: 170px;
    width: 100%;
    object-fit: cover;
    object-position: top;

}

.document-card .document-details{
    padding: 1rem;
}

.document-card .document-name{
    font-weight: 700;
    font-size: 18px;
}

.document-card .custom-radio{
    position: absolute;
    top: 5%;
    right: 5%;
    background: white;
    padding: .3em !important;
    border-radius: 50%;

}

.document-description{
    font-weight: 500;
    font-size: 14px;
}


.options{
    display: flex;
    align-items: center;
}

.document-details .options {
    margin-top: 1em;
}

.document-details .options .date{
    color: rgba(1, 107, 152, 1);
}

.star{
    background: url("../../recruiters/assets/star-outline.png"), var(--clr-base-white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    border: 1.3px solid var(--clr-neutral-200);
    margin-right: .4em;
}

.star[checked]{
    background: url("../../recruiters/assets/Star.svg"), var(--clr-base-white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
}
.document-expanded .star{
    background: url("../../recruiters/assets/star-outline-light.png"), rgba(231, 235, 239, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    border: 1.3px solid rgba(114, 108, 108, 1);
    margin-right: .4em;
}

.document-expanded .star[checked]{
    background: url("../../recruiters/assets/star.png"), rgba(231, 235, 239, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
}

.star, .download, .chat{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: stretch;
    padding: .5em;
    border-radius: 10px;
    cursor: pointer;
}

.document-details .star{
    margin-left: auto;
}

.quick-actions-menu{
    position: absolute;
    z-index: 100;
    font-size: 14px;
}

.quick-actions-menu[data-visible]{
    visibility: visible !important;
    opacity: 1 !important;
}

.quick-actions-menu.admin .applicants-docs{
    display: none !important;
}
.quick-actions-menu.applicants .admin-docs{
    display: none !important;
}

.document-card-container:has(.rating-modal.open){
    z-index: 2;
}

.document-card-container:has(.rating-modal.open) .document-card{
    border: 1px solid var(--clr-primary) !important;
}


.rating-modal{
    width: 300px;
    z-index: 3;
    bottom: -10%;
    left: 20%;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-out;
    transition-behavior: allow-discrete;
}
.documents-view:has(.rating-modal.open)::after{
    width: 150%;
    height: 100%;
    content: '';
    background-color: rgba(0, 0, 0, 0.374);
    top: 0;
    left: 0;
    display: block;
    position: absolute;
}

.document-expanded{
    position: absolute;
    width: 200%;
    height: 100%;
    background: rgba(0, 0, 0, 0.531);
    padding: 4rem ;
    top: 0;
    left: 0;
    display: none;
}

.document-expanded[data-visible]{
    display: block;
}

.document-expanded .document-title-block{
    width: 50%;
}

.document-title-block{
    color: white;
    background: black;
    border-radius: 10px;
    padding: .5em 1.5em;
    max-width: 1128.48px;
}

.document-title-block .document-description{
    font-size: 14px;
}

.chat{
    background: url("../../recruiters/assets/Chats.svg"), rgba(231, 235, 239, 0.2);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 55%;
    border: 1.3px solid rgba(114, 108, 108, 1);
    margin-right: .4em;
}

.schedule-btn{
    background: rgba(231, 235, 239, 0.20); border-radius: 8px; border: 1px #726C6C solid;
    padding: .5em 1.5em;
    cursor: pointer;
}

.document-expanded .actions-modal{
    background: white;
    width: 62vw;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    max-width: 1128.48px;
    border-radius: 15px 15px 0 0;
    padding: 1rem;
    min-height: 400px;
    overflow: hidden;
    z-index: 10000000000;
}

.actions-modal .tab-switches{
    display: flex;
    align-items: center;
    gap: .3em;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 2px solid var(--clr-neutral-200);
    padding: .5rem;
    padding-bottom: 1.6rem;
    cursor: pointer;
}

.tab-switches .switch{
    padding: .5rem;
    display: flex;
    align-items: center;
    gap: .4em;
    background: var(--clr-base-white);
}

.tab-switches .switch.active{
    border-color: black !important;
}

.switch img{
    width: 20px;
}

.tab-wrapper{
    overflow-y: scroll;
    position: relative;
}


.messages .message{
    font-size: 14px;
    padding: .7rem;
    background: var(--clr-base-white);
    border-radius: 12px;
    border-top-left-radius: 0;
    max-width: 70%;
}

.message-input img{
    cursor: pointer;
}

   .tab-wrapper::-webkit-scrollbar-track
{
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
	border-radius: 10px;
	background-color: #F5F5F5;
}

.tab-wrapper::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

.tab-wrapper::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); */
	background-color: var(--clr-neutral-200);
}


@media screen and (max-width:569px){
    .documents-list{
        grid-template-columns: repeat(auto-fill, minmax(187px, 1fr) ) ;
    }

    .document-card .document-name{
        font-size: 14px;
    }
    .document-card .document-description{
        font-size: 12px;
    }
    .document-card .date{
        font-size: 12px;
    }

    .star, .download, .chat{
        width: 28px;
        height: 28px;
        padding: 6px;
    }

    .tab-switches .switch span{
        display: none;
    }


}


@media screen and (max-width:992px){

    .documents-controls{
        margin-bottom: 1rem;
    }

    .filters{
        display: none;
    }

    .documents-controls{
        background-color: none !important;
        background: none !important;
    }

    .search__fields{
        width: 90% !important;
        max-width: unset !important;
        margin-top: 2rem;
    }
    .action-bar{
        width: 90%;
    }

    .documents-view{
        padding: 0 !important;
    }

    .documents-list{
        padding-inline: 1.5rem;
    }

    .quick-actions-menu{
        left: 50%;
    }

    .document-expanded[data-visible]{
        position: fixed;
        padding: 0;
        padding-top: 25%;
        width: 100%;
    }

    .documents-view:has(.rating-modal.open)::after{
        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
    }

    .tab-wrapper{
        height: 400px;   
    }

    .document-expanded .document-title-block{
        width: 90vw !important;
        margin-inline: auto;
    } 

    .actions-modal{
        width: 100vw !important;
    }

    .document-expanded .schedule-btn{
        display: none;
    }

    .message-input{
        width: 90%;
    }

}

@media screen and (min-width:992px){
    .documents-controls{
        max-width: 354px;
    }


    .document-expanded .actions-modal{
        max-height: 50vh;
    }

    .tab-wrapper{
        height: 30vh;
    }
}
