:root{
    --clr-primary: #016B98;
    --clr-primary-200: #0378ab;
    --clr-primary-100:#D8F3FF;
    --clr-primary-600:#13B7FD;
    --clr-base-white: #FAFAFA;
    --clr-neutral-100: #E3E3E3;
    --clr-neutral-200: #CCCBCB;
    --clr-neutral-400: #9F9C9C;
    --clr-neutral-600: #726C6C;
    --clr-neutral-800: #433E3F;
    --clr-neutral-900: #2B2829;
}