@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('./_variables.css');
/* @import url('./components/header.css'); */
/* @import url('./components/button.css'); */


*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    box-sizing: border-box;
}

ul,ol{
    list-style: none;
}

button{
    border: none;
}

a{
    text-decoration: inherit;
    color: inherit;
} 
a:hover{
    color: inherit !important;
}

img{
    max-width: 100%;
}

body, html{
    overflow-x: hidden;
}

input:focus, input:focus-visible, input:focus-within{
    outline: none;
    border: none !important;
}

.btn-primary {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
    color: var(--clr-base-white);
    transition: background-color .3s ease;
}
button{
    border-radius: 20px;
    border: none !important;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--clr-primary-200);
    /* border-color: var(--clr-primary-600); */
}

/* Override Bootstrap background colors */
.bg-primary {
    background-color: var(--clr-primary) !important;
}

.bg-base {
    background-color: var(--clr-base-white) !important;
}
.bg-secondary {
    background-color: var(--clr-neutral-200) !important;
}

.bg-light {
    background-color: var(--clr-neutral-100) !important;
}

.bg-dark {
    background-color: var(--clr-neutral-900) !important;
}

/* Override Bootstrap text colors */
.text-primary {
    color: var(--clr-primary) !important;
}

.text-secondary {
    color: var(--clr-neutral-200) !important;
}

.text-light {
    color: var(--clr-neutral-100) !important;
}

.text-greyed {
    color: var(--clr-neutral-800) !important;
}
.text-dark {
    color: var(--clr-neutral-900) !important;
}

/* @media screen and (max-width:1200px) {
    .search__search-bar{
        flex-direction: column !important;
        align-items: flex-start !important;
    }
} */

header {
    max-width: 1240px;
    margin: 0 auto;
    padding: 1.2rem 0;
    position: relative;
  }

  .logo{
    width: 80px;
  }

  .nav__wrapper__links__link {
    color: black;
  }

  .nav__wrapper__links__link.active {
    font-weight: 700;
  }

  .burger {
    height: 40px;
    width: 40px;
    position: relative;
    display: none;
  }

  .burger span {
    height: 3px;
    width: 40px;
    background-color: black;
    display: block;
    border-radius: 20px;
    position: absolute;
    right: 0;
  }

  .burger span:nth-of-type(1) {
    top: 30%;
  }

  .burger span:nth-of-type(2) {
    width: 70%;
    bottom: 40%;
  }

  footer{
    position: relative;
    /* margin-top: 500px; */
  }

  .footer__navlist > a:not(:has(h5)){
    opacity: .8;
  }

  @media screen and (max-width: 1024px) {
    header {
      width: 90%;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      transform: translateY(64px);
      border-radius: 12px;
      transition-property: display opacity;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      transition-behavior: allow-discrete !important;
      opacity: 0;
    }

    nav.active{
      display: flex !important;
      opacity: 1;
    }

    nav div{
      display: flex;
      flex-direction: column;
      gap: 1em;
      width:100vw;
      padding: 1.2rem;
    }

  }

  @media screen and (min-width: 1200px) {
    header {
      padding: 24px 0;
    }

    nav {
      flex: 1;
      margin-left: 20vw !important;
    }
  }

  @media screen and (min-width: 1024px) {
    nav{
      flex: 1;
      margin-left: 12.5%;
    }
  }

  @media screen and (max-width: 1024px) {
    header {
      width: 90%;
    }

    nav {
      display: none;
    }

    .burger{
      display: block;
    }
  }

