@import url('https://fonts.cdnfonts.com/css/montserrat');
@import url('./variables.css');
/* @import url('./components/header.css'); */
/* @import url('./components/button.css'); */


:root{
  --clr-primary: rgba(41, 46, 120, 1);
  --clr-primary-200: #0378ab;
  --clr-primary-100:rgba(225, 226, 245, 1);
  --clr-primary-600:rgba(76, 84, 194, 1);
  --clr-primary-800:rgba(49, 55, 144, 1);
  --clr-base-white: rgba(250, 250, 250, 1);
  --clr-neutral-100: rgba(227, 227, 227, 1);
  --clr-neutral-200: #CCCBCB;
  --clr-neutral-400: #9F9C9C;
  --clr-neutral-600: #726C6C;
  --clr-neutral-800: #433E3F;
  --clr-neutral-900: #2B2829;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'montserrat';
    box-sizing: border-box;
}

body{
  padding: 0 !important;
}


ul,ol{
    list-style: none;
}

button{
    border: none;
}

a{
    text-decoration: inherit;
    color: inherit;
} 
a:hover{
    color: inherit !important;
}

img{
    max-width: 100%;
}

body, html{
    overflow-x: hidden;
}

input:focus, input:focus-visible, input:focus-within{
    outline: none;
    border: none !important;
}

.btn-primary {
    background-color: var(--clr-primary);
    border-color: var(--clr-primary);
    color: var(--clr-base-white);
    transition: background-color .3s ease;
}
button{
    border-radius: 20px;
    border: none !important;
    font-size: 1rem;
    cursor: pointer;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: rgb(63, 63, 145);
    /* border-color: var(--clr-primary-600); */
}

.btn-primary:disabled{
  background-color: var(--clr-primary-600);
}

/* button.bg-base{
  background-color: var(--clr-base-button) !important;
} */


/* Override Bootstrap background colors */
.bg-primary {
    background-color: var(--clr-primary) !important;
}
.bg-primary-100 {
    background-color: var(--clr-primary-100) !important;
}
.bg-primary-600 {
    background-color: var(--clr-primary-600) !important;
}
.bg-primary-800 {
    background-color: var(--clr-primary-800) !important;
}

.bg-base {
    background-color: var(--clr-base-white) !important;
}
.bg-secondary {
    background-color: var(--clr-neutral-200) !important;
}
.bg-neutral-600{
  background-color: var(--clr-neutral-600);
}

.bg-light {
    background-color: var(--clr-neutral-100) !important;
}

.bg-dark {
    background-color: var(--clr-neutral-900) !important;
}
.bg-green{
  background-color: #1ABE0C;
}

.bg-neutral-100 {
    background-color: var(--clr-neutral-100) !important;
}

.bg-dropdown{
  background-color: rgba(116, 116, 128, 0.1);
}

/* Override Bootstrap text colors */
.text-primary {
    color: var(--clr-primary) !important;
}

.text-secondary {
    color: var(--clr-neutral-200) !important;
}

.text-light {
    color: var(--clr-neutral-100) !important;
}

.text-greyed {
    color: var(--clr-neutral-600) !important;
}
.text-dark {
    color: var(--clr-neutral-900) !important;
}

/* Text utility classes */

.text-sm{
  font-size: 14px !important;
}
.text-xs{
  font-size: 12px !important;
}

.fw-normal{
  font-weight: 500 !important;
}


/* Border utility classes */

.border-neutral-100{
  border-color: var(--clr-neutral-100) !important;
}
.border-neutral-200{
  border-color: var(--clr-neutral-200) !important;
}


/* Width utitlity classes */
.w-max{
  width: max-content;
}


p{
  letter-spacing: .1px;
}

header {
    max-width: 1240px;
    margin: 0 auto;
    padding: .8rem 0;
    position: relative;
  }

  .logo{
    width: 70px;
  }

  .nav__wrapper__links__link {
    color: black;
    font-weight: 500 !important;
  }

  header a{
    font-weight: 500;
  }

  .nav__wrapper__links__link.active {
    font-weight: 700;
  }

  .burger {
    height: 40px;
    width: 40px;
    position: relative;
    display: none;
  }

  .burger span {
    height: 3px;
    width: 40px;
    background-color: black;
    display: block;
    border-radius: 20px;
    position: absolute;
    right: 0;
  }

  .burger span:nth-of-type(1) {
    top: 30%;
  }

  .burger span:nth-of-type(2) {
    width: 70%;
    bottom: 40%;
  }


  footer{
    position: relative;
    /* margin-top: 500px; */
  }


  @media screen and (max-width: 1024px) {
    header {
      width: 90%;
    }

    nav {
      position: fixed;
      top: 0;
      left: 0;
      background-color: white;
      transform: translateY(64px);
      border-radius: 12px;
      transition-property: display opacity;
      transition-duration: .5s;
      transition-timing-function: ease-in-out;
      transition-behavior: allow-discrete !important;
      opacity: 0;
    }

    nav.active{
      display: flex !important;
      opacity: 1;
    }

    nav div{
      display: flex;
      flex-direction: column;
      gap: 1em;
      width:100vw;
      padding: 1.2rem;
    }

  }

  @media screen and (min-width: 1200px) {
    header {
      padding: 14px 0;
    }

    nav {
      flex: 1;
      margin-left: 20vw !important;
    }
  }

  @media screen and (min-width: 1024px) {
    nav{
      flex: 1;
      margin-left: 12.5%;
    }
  }

  @media screen and (max-width: 1024px) {
    header {
      width: 90%;
    }

    nav {
      display: none;
    }

    .burger{
      display: block;
    }
  }

  /* Custom radio button */
  
  .custom-radio {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
  }
  
  .radio-input {
    display: none; /* Hide the default checkbox */
  }
  
  .radio-label {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--clr-neutral-200); /* Outer circle */
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .radio-label::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 50%;
    transition: background-color 0.3s;
  }
  
  .radio-input:checked + .radio-label::after {
    background-color: var(--clr-primary); /* Inner circle when checked */
  }
  
  .radio-input:checked + .radio-label {
    border-color: var(--clr-primary); /* Keep the border same as inner circle */
  }
  


  /* This is included for the avatar image in the header when the user is logged in. Odoo manages that state, I suppose. */

  .user-menu, .modal-menu{
    transition: all ease-out .3s;
    transition-behavior: allow-discrete;
    z-index: 1000000 !important;
  }
  .user-menu.active, .modal-menu.active{
    opacity: 1 !important;
    visibility: visible !important;
  }

  .user-menu > div > *, .modal-menu > div > *{
    transition: background-color .3s ease-out;
  }

  .user-menu > div >:hover, .modal-menu > div >:hover {
    background-color: rgba(230, 230, 230, 0.356);
  }


  /* General utilities */

  .pointer{
    cursor: pointer;
  }
  
.preview-avatar{
  max-width: 64px;
}

.dropdown-item *{
  cursor: pointer;
}


.dropdown-toggle::after{
  display: none;
}


/* Custom Slider */
input[type="range"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
  border-radius: 15px;
  /*  overflow: hidden;  remove this line*/
  
  /* New additions */
  height: 6px;
  background: #ccc;
}

/* Thumb: webkit */
input[type="range"]::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none; 
  /* creating a custom design */
  height: 15px;
  width: 15px;
  background-color: var(--clr-primary);
  border-radius: 50%;
  border: 2px solid white;

  /* box-shadow: -407px 0 0 400px var(--clr-primary); emove this line */
  transition: .2s ease-in-out;
}

/* Thumb: Firefox */
input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background-color: var(--clr-primary);
  border-radius: 50%;
  border: 2px solid white;
  
  /* box-shadow: -407px 0 0 400px var(--clr-primary); emove this line */
  transition: .2s ease-in-out;
}

/* Hover, active & focus Thumb: Webkit */

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px var(--clr-primary)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(22, 13, 123, 0.278)
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(22, 13, 123, 0.278)
}

/* Hover, active & focus Thumb: Firfox */

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px var(--clr-primary)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(22, 13, 123, 0.278)
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(22, 13, 123, 0.278)    
}

.range {
  display: flex;
  align-items: center;
  gap: 1rem;
  max-width: 500px;
  height: 4rem;
  /* width: 80%; */
  padding: 0px 10px;
}

.value {
  font-size: 16px;    
  width: 50px;
  text-align: center;
}

