@import url('/styles/home/hero.css');
@import url('/styles/home/search.css');
@import url('./home/process.css');
@import url('./home/resume.css');
@import url('./home/dreamjob.css');

.partners__wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4% 0;
    padding-top: 6%;
    width: 90%;
}

.partners__title{
    font-size: 28px !important;
    max-width: 500px;
    text-align: center;
    font-size: var(--clr-neutral-900);
}

.partners__logos{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
}

.hire{
    padding: 5% 0;
    margin-bottom: 5%;
}

.hire__wrapper, .hire__options__wrapper{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 90%;
}

.hire__title{
    font-size: 40px;
    margin-bottom: 1.5rem;
}

.hire__description{
    max-width: 514px;
    line-height: 24px;
}

.hire button{
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1.2rem 2.4rem;
    padding-left: 2rem;
    background: var(--clr-primary);
    color: white;
}

.hire__options__wrapper{
    gap: 1em;
    margin-top: 2.5rem !important;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.hire__option{
    display: flex;
    flex-direction: column;
    background: white;
    border: 1px solid var(--clr-neutral-200);
    border-radius: 24px;
    padding: 12px;
    gap: 1rem;
    width: auto;
    min-width: 240px;
    max-width: 372px;
}


.option__name{
    color: #000;
    font-size: 18px;
    line-height: 21.6px;
}
.option__description{
    color: var(--clr-neutral-800);
    font-size: 14px;
}

.hire__option button{
    justify-content: center;
}

@media screen and (max-width:1024px){
    .hire__wrapper{
        flex-direction: column;
        gap: 1.5rem;
    }

}

@media screen and (max-width:1024px){
    .hire__option button{
        font-size: 12px;
    }
}

@media screen and (max-width:536px) {
    .partners__logos{
        flex-wrap: nowrap;
        justify-content: flex-start;
        animation: pan 10s linear alternate infinite 1s;
    }

    @keyframes pan{
        from{
            transform: translate(0);
        }
        to{
            transform: translate(-80%);
        }
    }

    .hire__option{
        width: 100%;
        max-width: none;
    }
}
@media screen and (max-width:769px) {
    .partners__title{
        font-size: max(3.5vh, 28px);
    }
}