.profile-img {
  display: flex;
  gap: 1em;
  align-items: center;
  font-size: 2em;
}

#addImgBtn {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}


input:not(#tagInput),
textarea,
button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 15px;
  transition: all 0.3s ease-out;
}



input:not(#tagInput),
textarea {
  border: 1.5px solid var(--clr-neutral-200);
}
input:not(#tagInput):focus,
textarea:focus {
  box-shadow: 0px 0px 0px 5px rgba(194, 197, 234, 1), 0 4px 6px 5px rgba(0, 0, 0, 0.041);
  outline: 1.5px solid rgba(76, 84, 194, 1);
}
/* input:valid {
  border: 1.5px solid var(--clr-primary);
} */
textarea {
  height: 300px;
}


.tab {
  display: none;
  animation: fadeEffect 1s;
}

.tab.active {
  display: block;
}

.progress-bar {
  transition: width 0.5s ease-in-out; /* Smooth transition for progress bar width */
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.social-icons div{
  position: relative;
  width: max-content;
  border-radius: 50%;
}

.social-icons div.active{
  border: 2px solid #15B097  ;
}

/* styles.css */
.link_input {
  display: none;
}

.link_input.active {
  display: flex;
}

.social-icons{
  cursor: pointer;
}

.social-icons div.active::before{
  content: '';
  position: absolute;
  width: 24px;
  height: 24px;
  background: url('../assets/onboarding/CheckCircle.png');
  top: 0;
  right: 0;
}

.link_input img{
  width: 64px;
}

.link_input input{
  border-color: var(--clr-neutral-200) !important;
}

@media screen and (max-width:536px) {
  .profile-img{
    font-size: 24px;
    gap: .5em;
  }

  #addImgBtn{
    width: 130px ;
    height: auto;
    aspect-ratio: 1/1;
  }

  #addImgBtn-wrapper{
    max-width: fit-content;
  }
}