input,
textarea,
button {
  width: 100%;
  padding: 0.8rem;
  border-radius: 12px;
  transition: all 0.3s ease-out;
}

input,
textarea {
  border: 1.5px solid var(--clr-neutral-200);
}
input:focus,
textarea:focus {
  box-shadow: 0px 0px 0px 5px rgba(194, 197, 234, 1), 0 4px 6px 5px rgba(0, 0, 0, 0.041);
  outline: 1.5px solid rgba(76, 84, 194, 1);
}

/* This can be added if necessary. It brings up issues when the password field is empty which is why I've decided to exclude it. */

/* input:valid {
  border: 1.5px solid var(--clr-primary);
} */
textarea {
  height: 300px;
}